

/** fonts */

$font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;



/**Colors**/

$green: #a1de74;
$dark: #343a40 ;
$white: #FFF;

/** backgrounds **/

$background1: #f4f4f4;
$background2: #f8f8f8;


/** Animations **/

$slideAnimationDuration: 0.3s;
