section.contact {

    .form-error {

        display: block;
        background-color: #f8d7da;
        border: 1px solid rgba(0,0,0,.15);
        color: #721c24;
        margin-top: -4px;
        padding:10px;
        height:40.6px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      
      .form-control:not(textarea) {
          height:50px;
      }
      

}