section.presentation {

    .presentation-content {
        align-items: center;
        min-height: 500px;
    }

    .presentation-text {
        color:$dark;
        padding:10px;
    }

    .presentation-picture {
        background-image: url('http://via.placeholder.com/300x300');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height:250px;
    }
}
